body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
}  

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#page-logo a {
    font-family: "Oleo Script", cursive;
    color: #ffeeff;
    text-shadow: 1px 1px 2px #2a140f;
    font-size: 50px;
    text-decoration: none;
    align-items: center;
    text-transform: uppercase;
}

header ul {
    display: flex;
}

header li {
  margin-left: 20px;
}

header a{
    text-decoration: none;
    color: #ffeeff;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px #2a140f;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

footer {
  background: linear-gradient(70deg, #c19a81, #646287);
  padding: 36px 0;
  text-align: center;
  color: #ff7f50;
  text-shadow: #2a140f 1px 1px 2px;
}

footer ul {
  display: flex;
  justify-content: center;
  padding: 20px;
}

footer li {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

footer img {
  width: 100%;
  height: 100%;
}