#hero {
    background-image: url("./heroimage.jpg");
    height: 800px;
    background-position: center;
    background-size: cover;
}

#hero-content {
    position: relative;
    align-items: center;
    text-align: center;
    color: #1f1215;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    background-color: #707093;
    width: 40%;
    height: 25%;
    opacity: 50%;
    box-shadow: 2pcx 2px 10px rgba(0, 0, 0, 0.5);
    padding: 50px 0;
    top: 200px;
    margin: 0 auto;

}

#hero-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#hero-content p {
    font-size: 20px;
    margin-bottom: 30px;
}

#hero-content a {
    text-decoration: none;
    color: #1f1215;
    background-color: darksalmon;
    padding: 12px 24px;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#hero-content a:hover {
    background-color: #ff7f50;
    color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
} 

#all-destinations {
  padding: 24px;
  background: linear-gradient(90deg, #33262f, #836763);
}

#all-destinations h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  margin: 24px 0;
}

#destinations-list {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

.destination {
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: 800;
}

.destination p {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin: 20px 0;
  text-shadow: 2px 2px 4px #7b5f61;
}

.destination img {
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: cover;
}