body {
  font-family: 'Roboto', sans-serif;
  background-color: #fce4ec;
}

h1 {
  font-size: 52px;
  color: #eb4f84;
}

header {
  text-align: center;
  padding: 32px;
}

header img {
  width: 300px;
}

main {
  background-color: #faa7aa;
  padding: 32px;
  margin: 32px auto;
  width: 700px;
  border-radius: 8px;
  color: #411c1d;
}
