.modal {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 90%;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 49, 63);
    padding: 1rem;
    border-radius: 6px;
}

@media (min-width: 48rem) {
    .modal {
        left: calc(50% -20rem);
        width: 40rem;
    }
}